/* Reset CSS *****************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

:root {
  --main-color: #8B2C2C;       /* Rouge bordeaux */
  --accent-color: #C9B37F;     /* Or doux */
  --bg-color: #DDE6F0;         /* Bleu-gris clair */
  --text-color: #1A1A1A;       /* Gris anthracite */
  --secondary-bg: #E3C6B1;     /* Beige rosé */
  --highlight-color: #5C3A2D;  /* Brun chaud */
  --font-main: 'Poppins', sans-serif;
}

html {
    font-size: 16px; /* Base font size */
}
/* Fin reset et propriétés racines */


/* STRUCTURE DE BASE header***************************************************************************/
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15rem 1rem;
  background-color: var(--main-color);
  color: white;
  position:fixed; /* important pour positionner navbar en absolute */
  z-index: 1000;
  width: 100%;
  top:0px;

    /* la ligne blanche au bas du header */
  border-bottom: 0.08rem solid white;
}

.logo {
  font-weight: bold;
  font-size:2vh;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

/* CACHER CHECKBOX */
.menu-toggle {
  display: none;
}

/* STYLE MENU ICON */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.navbar a:hover {
  background-color: white;
  color: var(--main-color);
  transform: scale(1.1); /* Agrandit sans affecter les autres */
   border-radius: 5%;
   width: 100%;
   text-align: center;
}
/* RESPONSIVE */
@media (max-width: 948px) {
  .top-header {
    flex-direction: column;
    align-items: flex-start;

  }

  .menu-icon {
    display: block;
    position: absolute;
    top:0.1rem;
    right: 1rem;
    z-index: 1100;
    border: 0.0001rem solid rgb(148, 147, 147);
    padding: 0.1rem 0.5rem
  }

.menu-icon:hover {
    background-color: rgb(161, 50, 50);
    transition: 0.3s;
  }

  .navbar {
    display: none;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0rem 1rem 1rem;
    background-color: var(--main-color);
    z-index: 1000;
    align-items: center;
    width: 100%;
  }

  .menu-toggle:checked + .menu-icon + .navbar{
    display: flex;
  }
}


/* Banner section  ******************************************************************/

#banner {
  background:#8B2C2C; /* ou une image de fond si tu veux */
   width: 100%;
  margin-top: 80px; /* pour compenser le header fixe */

}

.content-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  /* max-width: 1200px;
  margin: 0 auto; */
  flex-wrap: wrap;
  width: 100%;
  min-height: 80vh;
  margin-bottom: 1rem;
  /* background-color:aqua;  */
}

/* Image de profil */

.Profil {
  /* background-color: yellow;  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 60vh;
  height: auto;
  padding: 2rem 2rem;  
} 


.social-links {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}

.social-links a:hover {
  background-color: var(--accent-color);
  color: white;
  transform: scale(1.1);
}

.profile-image {
  width: 100%;
  border-radius: 50%;
  height:auto;
  object-fit: cover;
  /* border: 4px solid var(--accent-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);  */
}

/* Texte d’intro */
.infos {
  /* background-color: yellowgreen; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70vh;
}


.infos h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: wheat;
font-family: 'Poppins', sans-serif;



}

.infos p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: white;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
}



/* Boutons */
.btn {
  display: inline-block;
  background-color: white;
  color: var(--main-color);
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  /* margin-right: 1rem; */
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-weight: bold;
}


.btn-container{
    display: flex;
    justify-content: space-between;
}
/* RESPONSIVE BANNER */
@media (max-width: 995px) {
    .infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        height: auto;
        text-align: center;
        /* width: 100%; */
        /* background-color:#1c3653; */
        padding: 0rem 0rem;
        margin: 0rem 0rem;
    }

    .infos ,h1, p{
        text-align: center;
        justify-content: center;
    }

    .infos h1{
        font-size: 1.6rem;
    }

    .infos p{
        font-size: 0.8rem;
    }

    .btn {
        padding: 0.7rem 1.5rem;
        font-weight: bold;
        font-size: 0.7rem;
    
    }
    .btn-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 70%;
        margin-bottom: 1rem;
    }
   
}